

<div class="card text-black bg-white mb-4 " style="width: 25rem;">
  <img src="https://i.ibb.co/XXHP5YN/photo-2021-02-12-19-07-22.jpg" class="card-img-top" alt="..."  width="25" height="100">
  <!--<div class="card-header">
       {{ post.date_pub }}
  </div> -->
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.body|truncatewords:20 }}</p>
    <a href="{{ post.get_absolute_url }}" class="btn btn-light">Read</a> 
  </div>
  <div class="card-footer text-muted">
    Темы:
    {% for tag in post.tags.all %}
      <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
    {% endfor %}
 
  </div>
</div>  

